*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  font-family: "Maven Pro", sans-serif;
  text-decoration: none;
  scroll-behavior: smooth;
}
body {
  background-color: #141414;
  color: #fff;
  margin: 0;
}
/* Head */
.head {
  display: grid;
  grid-template-columns: 10% 40% 40% 10%;
}
.logo {
  grid-column-start: 2;
}

.navlinks {
  grid-column-start: 3;
  text-align: right;
  list-style-type: none;
}
.navlinks ul li {
  display: inline-block;
  font-weight: 600;
  padding: 0.5em;
  margin: 0.5em;
  color: #fff;

  transition: 0.5s;
  cursor: pointer;
}
.navlinks ul li:hover {
  color: #fff;
  text-decoration: underline;
  transform: translateY(-0.25em);
}
.navlinks ul li a,
a:link,
a:visited {
  color: #fff;
  text-decoration: none;
}
/* Hero */
.hero {
  height: 75vh;
  display: grid;
  grid-template-columns: 10% 40% 40% 10%;
  background-image: linear-gradient(#000000, #141414);
}
.intro {
  grid-column-start: 2;
  justify-self: center;
  align-self: center;
  padding-right: 5%;
}
.intro h2 {
  font-size: 2em;
}
.intro p {
  font-size: 1.2em;
  padding-bottom: 5%;
}
.intro a {
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 30px;
  padding: 0.5em 1.5em;
  box-shadow: 5px 5px 50px -9px #0b0b0b;
  transition: 0.5s;
}
.intro a:hover {
  color: #141414;
  background-color: #fff;
  border: 1px solid #fff;
  padding: 0.5em 1.5em;
  transition: 0.5s;
}

.heroimage {
  grid-column-start: 3;
  width: 50%;
  justify-self: flex-end;
  align-self: center;
}

/* About Section */
#aboutintro {
  display: grid;
  grid-template-columns: 10% 1fr 10%;
  padding-top: 10%;
}
.introtext {
  padding: 5% 10% 5% 10%;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.041);
  grid-column-start: 2;
  box-shadow: 5px 5px 50px -9px #0b0b0b;
}
.aboutintro h2 {
  grid-column-start: 2;
}
.aboutintro p {
  grid-column-start: 2;
  font-size: 1em;
  line-height: 1.6;
}
.about {
  display: grid;
  grid-template-columns: 10% 40% 40% 10%;
  display: grid;
  padding: 5% 0 5% 0;
}

.aboutimage {
  grid-column-start: 2;
  width: 80%;
  height: auto;
  border-radius: 3%;
  padding-bottom: 10%;
  border-radius: 25px;
  box-shadow: 5px 5px 50px -9px #0b0b0b;
}
.aboutme {
  grid-column-start: 3;
  align-self: center;
}
.aboutme h2 {
  font-size: 1.5em;
}
.aboutme p {
  font-size: 1em;
  line-height: 1.6;
  padding-bottom: 5%;
  padding-right: 10%;
}
.tags {
  padding: 0 20% 10% 0;
}
.tags li {
  display: inline-block;
  background-color: #fff;
  color: #141414;
  padding: 0.5em 1em;
  margin: 0.5em 0.5em 0.5em 0;
  list-style: none;
  cursor: pointer;
  transition: 0.5s;
  border: 1px solid rgb(198, 198, 198);
  border-radius: 20px;
}
.tags li:hover {
  background-color: #141414;
  color: #fff;
}
/* Cards */
#cards {
  display: grid;
  grid-template-columns: 10% 25% 25% 25% 10%;
  grid-gap: 1.66%;
  padding-top: 5%;
}
.card1 {
  background-color: rgba(255, 255, 255, 0.041);
  border-radius: 15px;
  grid-column-start: 2;
  box-shadow: 5px 5px 50px -9px #0b0b0b;
}

.card2 {
  background-color: rgba(255, 255, 255, 0.041);
  border-radius: 15px;
  grid-column-start: 3;
  box-shadow: 5px 5px 50px -9px #0b0b0b;
}
.card3 {
  background-color: rgba(255, 255, 255, 0.041);
  border-radius: 15px;
  grid-column-start: 4;
  box-shadow: 5px 5px 50px -9px #0b0b0b;
}
.cardimage {
  object-fit: cover;
  border-radius: 15px 15px 0 0;
  max-width: 100%;
  max-height: 100%;
  display: flex;
}
.cardheading {
  padding: 5% 5% 0;
}
.cardtext {
  font-size: 1em;
  line-height: 1.6;
  padding: 5%;
}

/* Contact */
#contact {
  height: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 10% 0 5%;
}
#contact h2 {
  text-align: center;
}
.contactlinks {
  text-align: center;
}
.contactlinks li {
  display: inline-block;
  font-weight: 600;
  padding: 0.5em 1.5em 0.5em 1.5em;
  margin: 0 0.7em 0 0.7em;
  color: #fff;
  transition: 0.5s;
  cursor: pointer;
  border: 1px solid #fff;
  border-radius: 20px;
}
.contactlinks li:hover {
  background-color: #fff;
  color: #141414;
  transform: translateY(-0.25em);
}
