*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  font-family: "Maven Pro", sans-serif;
  text-decoration: none;
}
body {
  background-color: #141414;
  color: #fff;
  margin: 0;
}
/* Head */
.head {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10em, auto));
}
.logo {
  padding-left: 20%;
}
.logo:hover {
  color: #5b7678;
  transition: 0.5s;
  cursor: pointer;
}

.navlinks {
  text-align: right;
  list-style-type: none;
  padding-right: 20%;
}
.navlinks ul li {
  display: inline-block;
  font-weight: 600;
  padding: 0.5em 1.5em 0.5em 1.5em;
  margin: 0.5em 0.7em 0.5em 0.7em;
  color: #fff;
  transition: 0.5s;
  cursor: pointer;
  border: 1px solid #fff;
}
.navlinks ul li:hover {
  color: #141414;
  background-color: #fff;
  border: 1px solid #fff;
  transform: translateY(-0.25em);
}
/* Hero */
.hero {
  height: 50vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-image: linear-gradient(#000000, #141414);
}
.intro {
  justify-self: center;
  align-self: center;
  padding-right: 10%;
  padding-left: 20%;
}
.intro h2 {
  font-size: 2em;
}

.intro p {
  font-size: 1.2em;
}

.heroimage {
  justify-self: end;
  align-self: center;
  padding-right: 20%;
}

/* About Section */
.aboutintro {
  padding: 5% 15% 5% 15%;
  border-radius: 15px;
  margin: 5% 10% 0 10%;
  background-color: rgba(255, 255, 255, 0.041);
}
.aboutintro p {
  font-size: 1.2em;
}
.about {
  margin-top: 5%;
  height: 35vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.aboutimage img {
  width: 80%;
  height: auto;
  border-radius: 3%;
  padding-left: 20%;
  padding-bottom: 10%;
}
.aboutme {
  align-self: center;
}
.aboutme h2 {
  font-size: 1.5em;
}
.aboutme p {
  font-size: 1.2em;
  padding-bottom: 5%;
  padding-right: 20%;
}
.tags {
  padding: 0 20% 10% 0;
}
.tags li {
  display: inline-block;
  background-color: #fff;
  color: #141414;
  padding: 0.5em 1em;
  margin: 0.5em 0.5em 0.5em 0;
  list-style: none;
  cursor: pointer;
  transition: 0.5s;
}
.tags li:hover {
  background-color: #5b7678;
  color: #fff;
}
/* Cards */
.cards {
  display: grid;
  grid-template-columns: 10% 25% 25% 25% 10%;
  grid-gap: 1.66%;
  margin-top: 10%;
}
.card1 {
  background-color: rgba(255, 255, 255, 0.041);
  border-radius: 15px;
  grid-column-start: 2;
}

.card2 {
  background-color: rgba(255, 255, 255, 0.041);
  border-radius: 15px;
  grid-column-start: 3;
}
.card3 {
  background-color: rgba(255, 255, 255, 0.041);
  border-radius: 15px;
  grid-column-start: 4;
}
.cardimage {
  object-fit: cover;
  border-radius: 15px 15px 0 0;
  max-width: 100%;
  max-height: 100%;
  display: flex;
}
.cardheading {
  padding: 5% 5% 0;
}
.cardtext {
  font-size: 1em;
  padding: 5%;
}

/* Contact */
.contact {
  height: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 10% 0 5%;
}
.contact h2 {
  text-align: center;
}
.contactlinks {
  text-align: center;
}
.contactlinks li {
  display: inline-block;
  font-weight: 600;
  padding: 0.5em 1.5em 0.5em 1.5em;
  margin: 0 0.7em 0 0.7em;
  color: #fff;
  transition: 0.5s;
  cursor: pointer;
  border: 1px solid #fff;
}
.contactlinks li:hover {
  background-color: #fff;
  color: #141414;
  transform: translateY(-0.25em);
}
